.beginning {
    padding: 60px 0 25px 0;
    margin: 0 auto;
}

.container {
    padding: 0 0;
}

.beginning__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
    max-width: 1080px;
    min-height: 72px;
}

.beginning__paragraph {
    font-weight: 400;
    font-size: 20px;
    white-space: pre-line;
}

.navigation {
    padding: 25px 0 25px 0;
    margin: 0 auto;
}

.navigation div {
    background-color: #F1F1F1;
    max-width: 1140px;
    min-height: 215px;
    padding: 25px 0 0 45px;
}

.navigation__title {

    margin-bottom: 20px;
    font-weight: 700;
    font-size: 44px;
    max-width: 276px;
    min-height: 53px;
}

.navigation__list {
    color: #02535F;
    padding: 0 0 5px 25px;
    margin:0 0 ;
    line-height: 30px;
}

.navigation__item a{
    display: inline-block;
    line-height: 20px;
    border-bottom: 1px solid #000000;
}