.hero {
    padding: 25px 0 25px 0;
}

.hero__title {
    font-size: 36px;
    font-weight: 900;
    min-height: 86px;
    max-width: 1080px;
    position: relative;
    margin-bottom: 30px;
}

.hero__image {
    max-width: 560px;
    min-height: 415px;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
}

.hero__paragraph {
    font-size: 20px;
    font-weight: 400;
    white-space: pre-line;
    margin-bottom: 115px;
}

.hero__image_second {
    float: right;
    max-width: 560px;
    min-height: 279px;

}

.hero__paragraph_second {
    font-size: 20px;
    font-weight: 400;
    white-space: pre-line;
    max-width: 480px;
    min-height: 132px;
    line-height: 26px;

}