.zeroing {
    padding:25px 0 25px 0;
}

.zeroing__title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.zeroing__paragraph {
    margin-bottom: 30px;
}

.zeroing__image {
    display: block;
    margin: 0 auto 30px auto;
}

.zeroing__image:last-child {
    margin-bottom: 0;
}


